<h1>Burger time!</h1>


<div class="container">
    <div class="row">
        <div class="col s12 16" id="notEaten">
            <h1>Burgers to eat!</h1>
            <ul>
                {{#each burgers}}
                <li> {{this.burger_name}} </li>
                {{/each}}

            </ul>
        </div>

        <div class="col s12 16" id="Eaten">
            <h1>Devoured burgers!</h1>
            <ul>
                {{#each burgers}}
                <li> {{this.burger_name}} </li>
                {{/each}}

            </ul>
        </div>
    </div>
    <dr>
        <h2>Add a burger</h2>

        <form>
            <div class="form-group">
                <label class="addNewBurger" for="burgerName">Burger Name: </label>
                <input type="text" id="burgerName" name="name">
            </div>
            <button class="add-burger" id="burgerButton" type="submit">ADD BURGER</button>
        </form>


</div>
